<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReadPath" value="C:\Users\USER\Downloads\TestFolder" />
    <add key="ExportFolder" value="C:\Users\USER\Downloads\Result" />
    <add key="BackupFolder" value="C:\Users\USER\Downloads\Backup" />
    <add key="LogFile" value ="C:\Users\USER\Downloads\log.log" />
    <add key="DatetimeSec" value="" />
    <add key="Version" value="0.5" />
    </appSettings>
</configuration>